$primary:    #553823;
$secondary:  #696969;
$info:       #0284C7;
$accent1:    #EDC9AF;
$accent2:    #FAFAFA;
$accent3:    #D9D9D9;
$success:    #3EBE91;
$warning:    #BE863E;
$danger:     #AC4848;
$light:      #E5E5E5;
$dark:       #2F2F2F;