
@import 'bootstrap/scss/functions';


@import 'variables';

@import 'bootstrap/scss/variables';

@import 'bootstrap/scss/maps';


$theme-colors: map-merge(
    $theme-colors,(
        "accent1": $accent1,
        "accent2": $accent2,
        "accent3": $accent3
    )
);

@import "bootstrap/scss/utilities";
// ...y ahora simplemente les añadimos nuestros colores.

$utilities-bg-colors: map-merge(
  $utilities-bg-colors,
  (
    "accent1": $accent1,
    "accent2": $accent2,
    "accent3": $accent3
  )
);

$utilities-text-colors: map-merge(
  $utilities-text-colors,
  (
    "accent1": $accent1,
    "accent2": $accent2,
    "accent3": $accent3
  )
);



@import "bootstrap/scss/bootstrap";